/** @format */

.main {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px 0 0 10px;
  margin: 0 50px 0 50px;
  overflow: hidden;
}

.productionArea {
  position: relative;
  background: repeating-linear-gradient(
    90deg,
    #ccc,
    #ccc 1px,
    transparent 1px,
    transparent 5px
  );
  width: 100%;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  margin: 0;
}

.controlFields {
  width: 50px;
  margin: 3px 10px 3px 5px;
}
.buttonName {
  margin: 3px 10px 3px 5px;
  width: 80px;
}

.hexColorFields {
  position: relative;
  width: 60px;
  margin: 3px 10px 3px 5px;
}

.colorPicker {
  position: absolute;
  left: 100%;
  bottom: 100%;
}

.controlLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.fieldLabelCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlRows {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0 3px 0;
}

.controlColumns {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.submitControlRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.addContainerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 0 0;
  padding: 0 0 3px 0;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
}

.marginControlRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controlsCont {
  background-color: white;
  z-index: 100;
  /*position: absolute;*/
  display: flex;
  flex-direction: column;
  border-style: none solid none none;
  border-color: black;

  border-width: 1px;

  padding: 0 20px 20px 20px;
  width: fit-content;
}

.notice {
  font-size: 10px;
  padding: 0 0 0 10px;
}

.instructions {
  position: absolute;
  display: block;
  background-color: #ffffff;
  border-style: solid;
  z-index: 300;
  margin: 5% 20% auto 20%;
  padding: 25px;
  border-radius: 20px;
  font-size: 18px;
}

.linkText {
  display: inline-block;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
