/** @format */

.main {
  position: relative;
  display: flex;
  border-style: solid;
  height: 40rem;
  margin: 10px 0 auto 0;
}
.controlFields {
  width: 50px;
  margin: 3px 10px 3px 5px;
}

.hexColorFields {
  width: 60px;
  margin: 3px 10px 3px 5px;
}

.fieldLabelCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlRows {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 5px 0;
}

.controlColumns {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.submitControlRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.addContainerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0 0 0;
  padding: 0 0 3px 0;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
}

.marginControlRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controlsCont {
  background-color: white;
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
  margin: 10px;
  right: 0;
  bottom: 0;
  padding: 20px;
  width: fit-content;
}

.notice {
  font-size: 10px;
  padding: 0 0 0 10px;
}
